page-changepassword {

.ion-pg{
        .back-button{color:#fff;}
.toolbar-background{background-color:#251d6d;}
     h5{color:#fff;
               font-size: 16px;
    font-weight: 400;}

  }




// .backbtn{background-color: transparent;
//     color: #fff;
//     font-size: 22px;
// line-height:2.4;}
.button{
overflow: hidden;
    height: 40px;
        padding: 0 66px;
    font-size: 17px;
    font-weight: 300;
    background-color: #0e086f;}
.home-bg{
    background: url("../assets/img/banner3-bg.jpg") ;
        background-size: cover;
}
   
  
h2{     color: #fff;
    font-weight: 900;
    text-align: center;
 
    font-size: 22px;
    margin: 0 0 22px 0;
}

.grid{    padding-top: 23px;
    }

.btnwhyt{
    opacity:.3;
    margin: 0;
    }
.btnblu{
    height: 45px;
    border-radius: 5px; 
        margin-top: 10px;
        width:94%;
        margin-left: 10px;
}
    h4{
      font-weight:500;
    font-size: 18px;
    margin:4px 0 0 0;
    text-transform: uppercase;
  }

.item{
        border-radius: 5px;
}

ion-label .fixed {
    
    flex: 0 0 10px;}
    

.sign{
    font-weight:800;
}

}