
<!-- <ion-toolbar color="blue">
 
        <button  class="backbtn" (click)="logout()" float-left>
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        </button>
   <ion-title ><h5>Change Password</h5></ion-title> 
   </ion-toolbar>                 -->

<ion-header class="ion-pg" >

  <ion-navbar class="toolbar">
<div class="toolbar-background"></div> 
   <ion-title ><h5>Change Password</h5></ion-title>
  
  </ion-navbar>

</ion-header>
<ion-content padding class="home-bg">
  <form #changeForm="ngForm"  novalidate>
<div style="width:100%; height:7px;"></div>
<h2> CHANGE PASSWORD</h2>

 
  
  <ion-grid> 
  <ion-row>
    <ion-col col-12>
<ion-list>
 <ion-item class="btnwhyt">
    
   <ion-input type="password" placeholder="Enter your Old Password" [(ngModel)]="data.password"  name='password' minlength="6" required #password="ngModel"></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
          <div *ngIf="password.errors && (password.dirty || password.touched)">
          <div [hidden]="!password.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="password.errors && (password.dirty || password.touched)" >
         <div [hidden]="!password.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
  </ion-list>
  </ion-col>
  </ion-row>
   <ion-row>
    <ion-col col-12>
<ion-list>
 <ion-item class="btnwhyt">
    <ion-input type="password" placeholder="Enter your New Password" [(ngModel)]="data.newpassword" name='newpassword' minlength="6" required #newpassword="ngModel" ></ion-input>
  </ion-item>
  <ion-label class="alert alert-danger" color="danger">
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
         <div [hidden]="!newpassword.errors.required" >
           Password is required
          </div>
      </div>
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" >
         <div [hidden]="!newpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
      </ion-label>
  </ion-list>
  </ion-col>
  </ion-row>
   <ion-row>
    <ion-col col-12>
<ion-list>
 <ion-item class="btnwhyt">
   <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="data.conpassword" name='conpassword' minlength="6" required #conpassword="ngModel"></ion-input>
  </ion-item>
   <ion-label class="alert alert-danger" color="danger">
   <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
         <div [hidden]="!conpassword.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)" >
         <div [hidden]="!conpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
  </ion-list>
  </ion-col>
  </ion-row>
  </ion-grid>

   <button ion-button full color="blue" class="btnblu"(click)="changepassword(changeForm);" [disabled]="!changeForm.form.valid" ><h4>Save</h4></button>

  
  </form>
</ion-content>
