page-episodedetails {
    
     .toolbar-title{
    text-align: left;
    margin-left: 52px;
}
    
.backbtn{background-color: transparent;}
.button{
overflow: hidden;
    height: 47px;
        padding: 0 66px;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: #0e086f;}
   
   .trailerbtn{
       position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
}
   .trailer{ 
       margin: 0;
       padding: 0;
       position: relative;
    width: auto;
    height: 247px;
    overflow: initial; box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);-webkit-box-shadow:0;}

   h1{      
       font-size: 17px;
    text-align: center;
    margin-left: 15px;
    color:#121111;  
    margin-top: 4px;}
   

h2 { 
    margin-top: 7px;
    font-size: 14px;
    color: #171515;
  text-align: left;
   margin-left: 1px;
    margin-bottom: 0;
}
    p {
    text-align: justify;
    color: #0e0d0d;
    padding: 0 11px;
}

.txt{    border-bottom: 1px solid #dedada;}
h3{font-size: 19px;
    text-align: left;
    text-transform: uppercase;
    color: #bb0032;
    font-weight: 900;
    padding: 11px;
    border-bottom: 1px solid #dedada;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trailerimg {position: absolute;
    height: 100%;
    min-height: 197px;
    top: 0px;
    left: 0px;
  
    right: 0px;
    height: 200px;}
div {
    position: relative;
  
  }

  .card-title {
    position: absolute;
    top: 71%;
    font-size: 13px;
    width: 100%;
    font-weight: 400;
    color: #fff;
    text-align:left;
    padding-left:10px;
  }
.videoicon{
	    width: 57px;
    padding-top: 48px;
    float: none;
    margin: 0 auto;
    display: table;}
div {

    position: relative;
    text-align: center;
  }

  .card-title h6{
    margin: 0 0 2px -17px;
    font-size: 13px;
    font-weight: normal;
    color: #f5f2f2;

  }
      .card-title h4 {margin: 7px 0;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    margin-right: 81px;}
  ul.list{list-style-type: none;
    font-size: 1.0em;    
    width: 100%;
    color: #fff;
  }
  ul.list li{
  	
    float: left;
    padding: 0 4px;
    font-size: 25px;
    color: #fff;
  
    border-radius: 50%;
    width: 38px;
    
    height: 38px;
    margin: -11px 1px;
    background-color: #330969;
  }
    .ionicn { display: inline-block;
    font-size: 21px;
      line-height: -10px;
    padding: 8px 6px;}


    button.backbtn {
    position: absolute;
    color: #fff;
    top: 0px;
    left: 10px;
    font-size: 20px;
}
.select .select-icon {
    position: absolute;
    float: left;
    left: 76px;
top: 25px;
}

h1::before, h1::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #5d5d5d;
    width: 45px;
    margin: 4px 2px;
}

video {
    margin: 0;
    padding: 0;
}
 
}
