page-serialssubscribe {
.serialssubscribe-bg{
	background: url("../assets/img/subscribe.jpg") ;
	    background-size: cover;
}
h1{
	 
       text-align: center;
    font-size: 27px;
    font-weight: 300;
    color: #fff;
    padding-top: 127px;
}
.grid{margin-top: 139px;}
.btnwhyt{    font-size: 19px;
    font-weight: 400;
	border-bottom: 1px solid #e81344;
	    padding: 22px;
border-radius: 5px;
margin-bottom: -10px;
text-transform: none;}
.btnblu{border-radius: 5px;
    font-weight: 900;
    font-size: 14px;
    padding: 22px;
    text-transform: none;
}
}
