page-carddetail {
  .back-button{color:#fff;}
	.toolbar-background{background-color:#251d6d;}
    .bg{background-color: #fafafa;}
     h5{color:#fff;
            font-size:15px;
            font-weight: 300;}
    
               
    h6{
    font-size:11px;
    margin-top: 7px;
   color:#bc1044;}
   h4{color:green;}
   .txt{      margin-left: -8px;
    font-size: 15px;
    width: 100%;}
   .grid{margin-top: -16px;}

   .grid1{margin-top: -45px;

    margin-bottom:10px;}

  h4{      color: #625d5d;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;}
    .grid2{    margin-top: -52px;
    margin-bottom: 111px;
}

  .grid4{margin-top: 70px;}

  .btn h2{ border-radius:4px;   margin-top: 10px;
    font-size: 20px;
font-weight: 300;
  color: #fff;
    text-transform: none;}


.bck_trans{
    background:transparent;
}
.carddtls-pg .list { margin: 10px 0; }

}
