

<!--  <ion-header >
<ion-toolbar>
<ion-grid>
  <ion-row>
  <ion-col col-2>
  <button (click)="menubck()" class="backbtn" float-left>
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
      </ion-col>
  <ion-col col-10>    
    <ion-title ><h5>Actors Gallery</h5></ion-title>
</ion-col>
</ion-row>
</ion-grid>
</ion-toolbar>
  </ion-header> -->

<!--   <ion-navbar class="toolbar">
<div class="toolbar-background"></div> 
   <ion-title ><h5>Me</h5></ion-title>
  
  </ion-navbar> -->

 <ion-header no-border class="header">
  <ion-toolbar color="blue">
  <ion-grid>
  <ion-row>
  <!-- <ion-col col-2>
    <ion-icon name="search"></ion-icon>
    </ion-col> -->
    <ion-col col-10>
    <!-- <ion-title ><h1>Search</h1></ion-title> -->
  <ion-searchbar placeholder = "Search" [(ngModel)]="myInput" (ionInput)="setFilteredItems()">
        
        </ion-searchbar>
</ion-col>
<ion-col col-2>
       <ion-icon name="contact" class="user" (click)="account()"></ion-icon>
    
</ion-col></ion-row></ion-grid>
  </ion-toolbar>
 
</ion-header>


<ion-content>
<div class="salon-glry">
<!-- <div class="photossalon"> -->
<!-- <ion-grid class="gly">
<ion-row *ngFor="let actors of actorz" > -->
<!-- <ion-col col-4 no-padding  *ngIf = "this.errorValue == '2'" >
 <div class="gallery1"  > 
<img (click)="move()" src="{{actors.image}}">
 </div>  
</ion-col> -->

<!-- 
<ion-col col-4 no-padding *ngIf = "this.errorValue == '0'" > -->
<!-- <div class="gallery1"  *ngFor="let actors of actorz">
<img src="{{actors.image}}">
</div> -->
 <!-- </ion-col> -->
<!-- <ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding>
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding>
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
</ion-row>

<ion-row>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding>
<div class="gallery1">
<img src="assets/img/actor1.png">
</div>
</ion-col>
<ion-col col-4 no-padding >
<div class="gallery1">
<img src="assets/img/actor1.png">
</div> --> 
<!-- </ion-col> -->
<!-- </ion-row> -->
  <!-- <ion-row>
<ion-col col-12>
<div class="btn-blu">
<button ion-button color="blue"(click)="loading()">See More</button>
</div>
</ion-col>
</ion-row>   -->
 <!-- <ion-row>
<ion-col col-12>
<div class="btn-blu">
<button ion-button color="blue"(click)="loading()">See More</button>
</div>
</ion-col>
</ion-row>  -->

<!-- </ion-row> -->
<!-- </ion-grid> -->
<div class="cvr_img" *ngIf = "this.errorValue == '2'">
<div class="gallery1"  *ngFor="let actors of actorz">
<img (click)="move(actors._id,actors.name)" src="{{actors.image}}">
</div>
</div>
<div class="cvr_img" *ngIf = "this.errorValue == '0'">
<div class="gallery1"  *ngFor="let actors of actorz">
<img src="{{actors.image}}">
</div>
</div>



</div>
<ion-grid>
    <ion-row>
<ion-col col-12 no-padding>
<div class="btn-blu">
<button ion-button color="blue"(click)="loading()"><p>See More</p></button>
</div>
</ion-col>
</ion-row>  </ion-grid>
  
</ion-content>
