page-links{
   .ion-pg{

    button.backbtn {
    position:relative;
    color: #fff;
    left: 10px;
    font-size: 20px;
    background-color: transparent;
      box-shadow:none;
}
	.toolbar-background{background-color:#251d6d;}
     h5{color:#fff;
           font-size: 16px;
    font-weight: 400;}}
	ion-list{ margin: -15px;
		border-bottom:1px solid #e9e9e9;}

          h5{color:#fff;
            font-size:15px;
            font-weight: 300;}


   .iontxt{ h2{ font-size: 19px;
    font-weight: 500;}
  
    h3{    overflow: inherit;
    font-size: 14px;
    line-height: normal;
    text-overflow: inherit;
    font-weight: 500;}}
 


    
}
