page-pymntitem {
.back-button{color:#fff;}

.back-button:hover:not(.disable-hover) {
    color: #fff;
}


	.toolbar-background{background-color:#251d6d;}
     h5{color:#fff;
           }

.methods {
	ion-list{ margin: -15px;
		border-bottom:1px solid #e9e9e9;}

          h5{color:#fff;
            font-size:18px;
            font-weight: 500;}


img{border-radius: 50%;
    overflow: hidden;
    width: 42px;
    height: 41px;
   }
    h2{    margin: 2px 0;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;}
  
    p{    overflow: inherit;
    font-size: 12px;
    line-height: normal;
    text-overflow: inherit;
    color: #bdb8b8;
    margin-top: -3px;}}
.mthd {
    width: 42px;
    height: 42px;
    background-color: #251d6d;
    border-radius: 100%;
    position: relative;
    overflow:hidden;
}
    
    .icon{ 
    position: absolute;
    top: 9px;
    left: 14px;
    font-size: 24px;
}
}

