page-aboutus {
	ion-icon{
		position: relative;
	}

.home-bg{
    background: url("../assets/img/banner3-bg.jpg") ;
        background-size: cover;
}
/*.toolbar-title {

    margin-right: 32px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: #fff !important;
}*/


.toolbar-background{
    background-color:#251d6d;
}

 h5{
    color:#fff;
       font-size: 18px;
    font-weight: 500;
    margin-top: 11px;
    text-align: left;
        }

button.backbtn {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    margin-top: 7px;
}

/* .back-button:hover{
    color:#fff;
}*/

.bar-button-default-md:hover:not(.disable-hover){
    color: #fff;
}

h4 {
    color: #fff;
    font-size: 19px;
    text-align: justify;
    padding: 0 9px;
    font-weight: 900;
    margin-bottom: 0;
}

h6 {
    color: #fff;
    font-size: 15px;
    text-align: justify;
    font-weight: normal;
    margin-top: 10px;
    padding: 0 9px;
}
}