<!-- Generated template for the AccordionComponent component -->
<ion-card>
 
<ion-item-divider color="light" (click)="toggleAccordion()">SEASON2<span class="clse_mdl"><ion-icon (click)="movies()" name="close"></ion-icon></span></ion-item-divider>
  

  <ion-card-content #cc>

      <ion-item-group>
      
        <ion-item><img src="assets/img/serialszn2.png" width="10" height="30"/></ion-item>
        <ion-item>Action </ion-item>
        <ion-item>Comedy </ion-item>
        <ion-item>Love </ion-item>
        <ion-item>Epic </ion-item>
        <ion-item>Family </ion-item>
      </ion-item-group>
</ion-card-content>
</ion-card>
<!-- <ion-card>
<ion-item-divider color="light"   (click)="toggleAccordion()">African Movies<span class="clse_mdl"><ion-icon (click)="movies()" name="close"></ion-icon></span></ion-item-divider>
    
<ion-card-content #qq>

           <ion-item-group>
          <ion-item>Title bar </ion-item>
          <ion-item>Nollywood movie </ion-item>
          <ion-item>Gollywood Ghanaian </ion-item>
          <ion-item>Sollywood south Africa  </ion-item>
          <ion-item>Gamwood Gambia  </ion-item>
          <ion-item>Camwood cameraoon  </ion-item>
          <ion-item>Etc</ion-item>
        </ion-item-group>
        </ion-card-content>
</ion-card>
<ion-card>         

<ion-item-divider color="light" (click)="toggleAccordion()">Native movies<span class="clse_mdl"><ion-icon (click)="movies()" name="close"></ion-icon></span></ion-item-divider>
            
  <ion-card-content #ss>
  <ion-item-group>
            <ion-item>Ibo movie </ion-item>
            <ion-item>Yourba movies </ion-item>
            <ion-item>Hausa </ion-item>
            <ion-item>Benin </ion-item>
            <ion-item>Etc</ion-item>
          </ion-item-group> 

</ion-card-content>
</ion-card> -->
