accordion {
.card{    margin: 0px;
    border-radius: 0;
    width: 100%;
   

   }
.card-header{


 color:#fff;
 margin:0;

}
.item-divider {
    padding-left: 28px;
    border-bottom: none;
    font-size: 17px;}
}
